body,
html{
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 100px;
    
    display: inline-block;
   
}

header img {
    height: 50px;
}




#navbar {
    float:right;
    margin-top: 15px;
    
}

#navbar a{
    
    text-decoration: none;
    color: #9E9E9E;
    font-size: 20px;
    font-weight: bold;
    
    line-height: 20px;
    

}
h1 {
    font-size: 100px;
    margin: 0;
    padding: 0;
}

p{
    font-size: 25px;
}

#mainContainer {
    width: 800px; 
    margin-left: calc((100% - 800px) / 2);
    background-color: #fff;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Bahnschrift', 'MS PGothic';
    color: #9E9E9E;
}

#leftContainer{
    width: 50%;
    float: left;
}

#leftContainer p {
    margin: 0;
}

#rightContainer{
    width: 50%;
    float: left;
}