body,
html{
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 100px;
    
    display: inline-block;
   
}

header img {
    height: 50px;
}




#navbar {
    float:right;
    margin-top: 15px;
    
    
}
#navbar a:hover {
    text-decoration: underline;
    color:#85bf66;
}

#navbar a{
    
    text-decoration: none;
    color: #9E9E9E;
    font-size: 17px;
   
    line-height: 17px;
    

}

a+a {
    margin-left: 35px;
}



#navbar a:first-child{
    margin-left: 0;
}

h1 {
    font-size: 100px;
    margin: 0;
    padding: 0;
}

p{
    font-size: 25px;
}

#mainContainer {
    display: inline-block;
    width: 800px; 
    margin-left: calc((100% - 800px) / 2);
    background-color: #fff;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #9E9E9E;
}

section {
    width: 100%;
    display: inline-block;
}

#leftContainer{
    width: 46%;
    float: left;
}

#leftContainer p {
    margin: 0;
}

#rightContainer{
    width: 46%;
    float: right;
}